---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Junior Software Developer"
			subtitle="August 2023 - Present Day at Nanuk, Mexico City, México"
		>
			Focused on the development of scalable and secure solutions for enterprise
			applications.
			<ul class="list-disc ml-5 mb-2 space-y-1">
				<li>
					Developed an automated solution that collects fees for transactions
					made through payment terminals, using the API of a given fintech,
					Python, and multiple AWS Cloud Services (Lambda, SQS, API Gateway,
					RDS, etc.).
				</li>
				<li>
					Developed a web application that served as a UI for the solution
					mentioned above, using Flask and AWS App Runner.
				</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Automation & Sustainability Trainee"
			subtitle="January 2023 - August 2023 at ECOLAB, Cuautitlán Izcalli, México"
		>
			Developing digital automation processes focused on reducing repetitive
			tasks done by the members of our organization, through macros programmed
			in Visual Basic for Applications (VBA).
			<ul class="list-disc ml-5 mb-2 space-y-1">
				<li>
					Buildout of an automation program for the computation of the densities
					of all our products.
				</li>
				<li>
					Design, programming, implementation and debugging of an automated
					template used to plan our daily production schedule, using Excel's
					integrated logic and VBA.
				</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Electronics Designer - Freelance"
			subtitle="August 2021 - January 2023, Cuautitlán Izcalli, México"
		>
			Mainly focused on the design process (conception, construction and
			programming) of custom PC peripherals adequated to the clients' needs.
			<ul class="list-disc ml-5 mb-2">
				<li>
					Active contributor in two of the biggest open-source repositories
					regarding custom peripherals software; QMK (a powerful firmware for
					keyboards and mice based mainly on C) and VIA (an Electron-based app
					that transforms data stored in JSON files into a beautiful GUI that
					allows for easier functionality customization).
				</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Industrial Engineer"
			subtitle="August 2019 - December 2023 at Facultad de Estudios Superiores Cuautitlán Campo 4 (UNAM), Cuautitlán Izcalli, México"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Certifications</div>
	</div>

	<ul class="list-disc mx-6 mb-10 grid gap-2">
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
		<li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li>
	</ul>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
		<li>Skill Name</li>
	</ul>
</BaseLayout>
