---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
import CourseCertificationItem from '@components/CourseCertificationItem.astro';
---

<BaseLayout title="Arturo Avila | Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Junior Software Developer"
			subtitle="August 2023 - Present Day at Nanuk, Mexico City, México"
		>
			Focused on the development of scalable and secure solutions for enterprise
			applications.
			<ul class="list-disc ml-5 mb-2 space-y-1">
				<li>
					Developed an automated solution that collects fees for transactions
					made through payment terminals, using the API of a given fintech,
					Python, and multiple AWS Cloud Services (Lambda, SQS, API Gateway,
					RDS, etc.).
				</li>
				<li>
					Developed a web application that served as a UI for the solution
					mentioned above, using Flask and AWS App Runner.
				</li>
				<li>
					Developed a POC web application based on Flask, with an API connection
					to Camunda (process orchestrator software), which allowed us to
					stablish a strong connection between our business logic our IT
					department.
				</li>
				<li>
					Participant on the development of the internal API of the company,
					using FastAPI and Amazon RDS (MySQL).
				</li>
				<li>
					Deployed an ERP system (Dolibarr) on AWS EC2 through the use of the
					AWS Marketplace pre-complied bundle by Bitnami.
				</li>
				<li>
					Designed wireframes and mockups (UI/UX) for an internal web
					application focused on HR activites and processes.
				</li>
				<li>
					Developed an internal web application for the management of clients,
					users and their accesses to our internal ecosystem of applications,
					using Django, Django Rest Framework, and AWS App Runner.
				</li>
				<li>
					Developing an HR, recruitment-oritented web application using Django,
					Django Rest Framework, and AWS App Runner, with a HOWL stack composed
					by HTMX, Alpine.js, and TailwindCSS/Flowbite.
				</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Automation & Sustainability Trainee"
			subtitle="January 2023 - August 2023 at ECOLAB, Cuautitlán Izcalli, México"
		>
			Developed digital automation processes focused on reducing repetitive
			tasks done by the members of our organization, through macros programmed
			in Visual Basic for Applications (VBA).
			<ul class="list-disc ml-5 mb-2 space-y-1">
				<li>
					Buildout of an automation program for the computation of the densities
					of all our products.
				</li>
				<li>
					Design, programming, implementation and debugging of an automated
					template used to plan our daily production schedule, using Excel's
					integrated logic and VBA.
				</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Electronics Designer - Freelance"
			subtitle="August 2021 - January 2023, Cuautitlán Izcalli, México"
		>
			Mainly focused on the design process (conception, construction and
			programming) of custom PC peripherals adequated to the clients' needs.
			<ul class="list-disc ml-5 mb-2">
				<li>
					Active contributor in two of the biggest open-source repositories
					regarding custom peripherals software; QMK (a powerful firmware for
					keyboards and mice based mainly on C) and VIA (an Electron-based app
					that transforms data stored in JSON files into a beautiful GUI that
					allows for easier functionality customization).
				</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Industrial Engineer"
			subtitle="August 2019 - December 2023 at Facultad de Estudios Superiores Cuautitlán Campo 4 (UNAM), Cuautitlán Izcalli, México"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Courses and Certifications</div>
	</div>

	<ul class="list-disc mx-6 mb-10 grid gap-2">
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-e08651de-7e18-4467-b6ec-5ad94169900a/"
			title="Build Responsive Real-Woeld Websites with HTML and CSS"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-76eadbd2-0013-4065-8bc1-ecfdbc623ad0/"
			title="Advanced CSS and Sass: Flexbox, Grid, Animations and More!"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-b527e91f-1178-41a9-b433-a8b778e3c0e3/"
			title="The Complete JavaScript Course 2023: From Zero to Expert!"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-190895aa-39ad-4d48-85e9-36cebdd5a3cb/"
			title="100 Days Of Code (Python)"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-bcb46511-1fb7-4815-9489-c33fc6154ab7/"
			title="Docker Mastery: with Kubernetes +Swarm from a Docker Captain"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-c8a8f752-6484-4eaa-acfc-0cacfc1108af/"
			title="MySQL: Go from SQL Beginner to Expert"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-80bb0f0d-2248-4578-bed1-1494f0c97400/"
			title="Master the Coding Interview: Data Structures + Algorithms"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-eed70c93-1ea1-465d-a28e-749c4fb4d8ea/"
			title="Complete Guide to Protocol Buffers 3 [Java, Golang, Python]"
		/>
		<CourseCertificationItem
			href="https://www.udemy.com/certificate/UC-89e11602-f4c5-4a43-b955-15d9110a1445/"
			title="Figma UI UX Design Essentials"
		/>
		<CourseCertificationItem
			href="https://www.coursera.org/account/accomplishments/certificate/UHCQ3LM96W6N"
			title="Excel/VBA for Creative Problem Solving, Part 1"
		/>
	</ul>
</BaseLayout>
