---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import { getCollection } from 'astro:content';
import createSlug from '../lib/createSlug';
import TipewriterText from '../components/TypewriterText';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
	<div class="pb-12 mt-5">
		<div class="text-base sm:text-xl py-1">Hello there 👋</div>
		<div class="text-[1.7rem] sm:text-5xl font-bold flex gap-3">
			<TipewriterText client:load />
		</div>
		<div class="sm:text-2xl text-xl py-3 font-bold">
			Digital and Electronical Craftsman
		</div>
		<div class="py-2">
			<text class="text-lg">
				Developer with a deep passion for programming and electronics. Currently
				in search of a space full of challenges where I can achieve personal and
				profesional growth through the development of my knowledge and skills.
			</text>
		</div>
		<div class="mt-8">
			<a
				class="btn btn-primary"
				href="https://www.linkedin.com/in/arturo-avila-priego/"
				target="_blank"
			>
				Let's connect!</a
			>
			<a
				href="https://github.com/ADPenrose/portfolio-apaydev-astro"
				target="_blank"
				class="btn btn-outline ml-5"
			>
				See The Source Code
			</a>
		</div>
	</div>

	<div>
		<div class="text-3xl w-full font-bold mb-2">My last projects {'</>'}</div>
	</div>

	<HorizontalCard
		title="Forkify"
		img="/forkify.webp"
		desc="A modern JavaScript app that allows the user to search over 1,000,000 different food recipies. Developed as part of the Complete JS Course by Jonas Schmedtmann."
		url="https://forkify-apaydev.netlify.app"
		badge="NEW"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Omnifood"
		img="/omnifood.webp"
		desc="A simple website for an AI-focused, food-delivery related startup, done as part of Jonas Schmedtmann's HTML and CSS course on Udemy."
		url="https://omnifood-apaydev.netlify.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Trillo UI"
		img="/trillo.webp"
		desc="A modern-looking UI design for a booking app, using HTML5 and CSS3/SCSS. Built as part of Jonas Schmedtmanns' Advanced HTML and CSS course."
		url="https://trillo-apaydev.netlify.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Nexter UI"
		img="/nexter.webp"
		desc="A grid-based landing page done as part of Jonas Schmedtmanns' Advanced HTML5 and CSS3 course."
		url="https://nexter-apaydev.netlify.app"
	/>

	<div>
		<div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
	</div>

	{
		last_posts.map((post) => (
			<>
				<HorizontalCard
					title={post.data.title}
					img={post.data.heroImage}
					desc={post.data.description}
					url={'/blog/' + createSlug(post.data.title, post.slug)}
					target="_self"
					badge={post.data.badge}
				/>
				<div class="divider my-0" />
			</>
		))
	}
</BaseLayout>
