---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
---

<BaseLayout title="Arturo Avila | Projects" sideBarActiveItemID="projects">
	<div>
		<div class="text-3xl w-full font-bold mb-5">
			Software Development Projects
		</div>
	</div>

	<HorizontalCard
		title="Three.js Haunted House"
		img="/haunted-house.webp"
		desc="A really simple haunted house scene built with Three.js."
		url="https://threejs-haunted-house-apaydev.vercel.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Three.js Environment Maps"
		img="/threejs-env-map.webp"
		desc="A little experiment regarding the MeshBasicMaterial, Environmental Maps and an interactive GUI using Three.js and lil-gui."
		url="https://threejs-env-maps-apaydev.vercel.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Forkify"
		img="/forkify.webp"
		desc="A modern JavaScript app that allows the user to search over 1,000,000 different food recipies. Developed as part of the Complete JS Course by Jonas Schmedtmann."
		url="https://forkify-apaydev.netlify.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Omnifood"
		img="/omnifood.webp"
		desc="A simple website for an AI-focused, food-delivery related startup, done as part of Jonas Schmedtmann's HTML and CSS course on Udemy."
		url="https://omnifood-apaydev.netlify.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Trillo UI"
		img="/trillo.webp"
		desc="A modern-looking UI design for a booking app, using HTML5 and CSS3/SCSS. Built as part of Jonas Schmedtmanns' Advanced HTML and CSS course."
		url="https://trillo-apaydev.netlify.app"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Nexter UI"
		img="/nexter.webp"
		desc="A grid-based landing page done as part of Jonas Schmedtmanns' Advanced HTML5 and CSS3 course."
		url="https://nexter-apaydev.netlify.app"
	/>

	<div>
		<div class="text-3xl w-full font-bold mb-5 mt-10">Electronics Projects</div>
	</div>

	<HorizontalCard
		title="Kintsugi"
		img="/kintsugi.webp"
		desc="A 65%-ish keyboard powered by an ATmega32u4 microcontroller, with support for an encoder, an OLED screen, RGB underglow and Kailh hotswap sockets."
		url="https://github.com/qmk/qmk_firmware/tree/master/keyboards/adpenrose/kintsugi"
		badge="V1"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Obi"
		img="/obi.webp"
		desc="A 40% keyboard inspired by the TMOv2 and Nightmare boards, with stepped caps lock and split spacebar support, as well as encoder compatibility and RGB underglow."
		url="https://github.com/qmk/qmk_firmware/tree/master/keyboards/adpenrose/obi"
		badge="V1"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Shisaku"
		img="/shisaku.webp"
		desc="A 40% alice-like keyboard, assembled only with THT components, featuring a solenoid to achieve that characteristic typewriter sound."
		url="https://github.com/qmk/qmk_firmware/tree/master/keyboards/adpenrose/shisaku"
		badge="V1"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Mine"
		img="/mine.webp"
		desc="A hotswap ISO/ANSI-compatible 1800 alice, assembled only with THT components, including a solenoid and a chunky encoder."
		url="https://github.com/qmk/qmk_firmware/tree/master/keyboards/adpenrose/mine"
		badge="V1"
	/>
</BaseLayout>
